/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 $screen_threshold: 996px;

.heroBanner {
  height: 30rem;
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: 
    linear-gradient(to bottom, transparent 40%, var(--fm-background) 100%),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2)  100%),
    url("/static/img/titleback.webp")
    black
  ;
  background-size: cover;
  background-position-x: center;
  color:white;

  @media screen and (max-width: $screen_threshold) {
    padding: 2rem;
    background: 
      linear-gradient(to bottom, transparent 40%, var(--fm-background) 100%),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2)  100%),
      url("/static/img/titleback-small.webp")
      black
    ;
  }
}

.heroTitleText {
  --shadow-color: rgba(0, 0, 0, 0.6);
  filter:
    drop-shadow(1px 1px 4px var(--shadow-color))
    drop-shadow(1px -1px 4px var(--shadow-color))
    drop-shadow(-1px 1px 4px var(--shadow-color))
    drop-shadow(-1px -1px 4px var(--shadow-color));
}

.heroTitle{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  font-weight:bold;
  @media screen and (max-width: $screen_threshold) {
    font-size: 3em;
  }
}

.titleIcon{
  height: 80px;
  width: 80px;
  margin-right: 1rem;
  @media screen and (max-width: $screen_threshold) {
    height: 50px;
    width: 50px;
    margin-right: 1rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
  @media screen and (max-width: $screen_threshold) {
    flex-direction: column;
    margin-top: 0;
  }
}

.button {
  margin-left: 2em;
  @media screen and (max-width: $screen_threshold) {
    max-width: 400px;
    width: 80%;
    margin-left: 0;
    margin-top: 1.5em;
  }
}

.button:nth-child(1) {
  margin-left: 0;
  @media screen and (max-width: $screen_threshold) {
    margin-top: 0;
  }
}
